.card-title {
    color:black;
    font-weight: bold;
}
#features{
     background-color: antiquewhite;
}

@media only screen and (min-width: 993px) {
    .ncolumn {
        margin-top: 100px;
    }
}

hr {
    border: 0;
    background-color: black;
    height: 1px;
}
body{
    background:beige;
}
.featured-reviews{
    background-color: aquamarine;
}
.rating{
    float:right;
}

.rate{
    float:right;
    display:inline-block;
}